<div class="container mt-4">
    <div class="row row-cols-4 g-4">


      <div *ngFor="let tech of technologies" class="col d-flex justify-content-center">

        <div class="card text-center">
            <img [src]="tech.image" class="card-img-top" [alt]="tech.name" />


          <div class="card-body">
            <h5 class="card-title">{{ tech.name }}</h5>
            <p class="card-text">{{ tech.description }}</p>
            <a href="#" class="btn btn-primary">Learn More</a>
          </div>


        </div>


      </div>


    </div>
  </div>
  