
.login-section {
  background: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 350px;
}

.login-section h2 {
  color:#00008B;
  font-size: 24px;
  margin-bottom: 20px;
}

.login-section label {
  display: block;
  text-align: left;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

.login-section input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #007a00;
  border-radius: 5px;
}

.login-section button {
  background-color: #416aa2;
  color: #fff;
  border: none;
  padding: 10px;
  width: 100%;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  transition: 0.3s;
}

.login-section button:hover {
  background-color: #005500;
}
.links {
  margin-top: 10px;
  text-align: center;
}

.forgot-password, .signup-link {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
  font-size: 14px;
}

.forgot-password:hover, .signup-link:hover {
  color: darkblue;
}

.success-message {
  color: green;
  font-weight: bold;
  margin-top: 10px;
}



.error-message {
  color: red;
  font-weight: normal; 
  font-size: 12px; 
  margin-left: 10px; 
  display: inline-block; 
  vertical-align: middle; 
}


.required {
  color: red; 
  font-weight: bold; 
  margin-left: 5px; 
}