.Logo {
    position: absolute;
    font-weight: bold;
    color:#00008B; 
    font-family: 'Georgia', serif; 
    top: 20px;
    left: 20px;
    font-size: 40px;
    letter-spacing: 2px;
    text-shadow: 0 0 10px rgba(93, 64, 55, 1); 
  }
  

/* body {
    font-family: 'Poppins', sans-serif;
    background: #e4ebf4;  
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0;
    height: 115vh;
} */
